<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index of Tonys Web-App 🖲️</title>
</head>
<body>
    <!-- 1st-vers: popup with html-only -->
    <!-- <form onsubmit="greet(); return false;">
        <input type="text" id="name_id" autocomplete="off" autofocus placeholder="Name">
        <input type="submit" value="Submit to 🐈‍⬛">
     </form> -->


     <!-- 2nd-vers: popup with js -->
    <form>
        <input type="text" id="name_id" autocomplete="off" autofocus placeholder="Name">
        <input type="submit" value="Submit to 🐈‍⬛">
        <button type="submit">Submit to 🐐</button>
    </form>

    <script>
        /**
         * @param {SubmitEvent} event
         */
        function greet3(event){
            let nameJS = document.querySelector("input").value
            console.log(nameJS);
            alert("G'day "+ nameJS);
            event.preventDefault();
        }        
        let form = document.querySelector("form")
        form.addEventListener("submit",greet3)



    </script>
</body>
</html>