{% extends "layout.html" %}

{% block body %}

    <h3>Cart</h3>
    <ul>
        {% for book_id in books_in_cart %}
        <li> {{book_id}}
            <form action="/cart" method="post">
                <input type="text" name="book_id" hidden value={{book_id}}>
                <input type="text" name="action" hidden value="remove">
                <button type="submit">Remove From Cart</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="{{url_for('clear_cart')}}">Clear Cart 🚽</a><br>


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <p style="color: {% if category == 'error' %}red{% else %}green{% endif %}">{{ message }}</p>
    {% endfor %}
    {% endwith %}

{% endblock %}
