{% extends "layout.html" %}

{% block body %}

    <h2>Register Book</h2>
    <form method="POST" action="/register_book">
        Title: <input name="book_title" required autocomplete="off" autofocus><br>
        Author: <input name="book_author" required autocomplete="off"><br>
        <button type="submit">Register Book</button>
    </form>
    <a href="{{ url_for('login') }}">Login</a><br>
    <a href="{{ url_for('register') }}">Register</a>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <p style="color: {% if category == 'error' %}red{% else %}green{% endif %}">{{ message }}</p>
    {% endfor %}
    {% endwith %}

{% endblock %}
