{% extends "layout.html" %}

{% block body %}

    <h2>Register</h2>
    <form method="POST" action="/register">
        Username: <input name="username" required autocomplete="off" autofocus><br>
        Password: <input name="password" type="password" required autocomplete="off"><br>
        <button type="submit">Register</button>
    </form>
    <a href="{{ url_for('login') }}">Login</a><br>
    <a href="{{ url_for('register_book') }}">Register a Book</a>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <p style="color: {% if category == 'error' %}red{% else %}green{% endif %}">{{ message }}</p>
    {% endfor %}
    {% endwith %}

{% endblock %}
