<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles.css">
        <title>🐕 Title of index.html 🐕</title>
    </head>
    <body>
        <form action="/greet">
            <input type="text" id="input_id" autofocus autocomplete="off" placeholder="Name" 
            name="URL_KEY_NAME">
            <input type="submit" value="Submit">
        </form>
        <!-- <p>G'day {{JINJA_NAME}} from QueryParameters</p> -->
    </body>
</html>

<!-- 

#DONE  #6  - add input text to index.html #6
#DONE: #11 - add input text outside form tag to index #11 
#DONE: #12 - add input text inside form tag to index #12 
#DONE: #17 - add action attribute of form tag to route /greet #17 
#DONE  #16 - add request.args.get to app.py to *return* form input from user #16
#DONE  #13 - test URL_KEY of form by displaying result in a p tag #13
#DONE  #7  - add form.action to /greet to index.html #7
#DONE  #8  - add flask_route /greet to app.py #8
#DONE  #9  - add greet.html #9
#DONE  #10 add map URL_KEY_NAME of app.py to JINJA_NAME placeholder of greet.html #10

-->