<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles.css">
        <title>🐕 Title of index.html 🐕</title>
    </head>
    <body>
        <!-- Gday { JINJA_NAME } from index.html -->
        <!-- <form> -->
            <!-- <input type="text" name="URL_KEY_NAME" id="input_id" -->
            <input type="text" id="input_id"
            placeholder="Name Please" autofocus autocomplete="off">
            <button id="submit_id">Submit</button>
        <!-- </form> -->
        <script>
            let input = document.getElementById("input_id");

            let btn = document.getElementById("submit_id")
            btn.addEventListener("click",function(){
                console.log(input.value)
                // console.log(input.innerHTML)
                // console.log(input.textContent)
            })
        </script>
    </body>
</html>

<!-- 

 #6 - add input text to index.html #6
#11 -     add input text outside form tag to index #11 #DONE
#12 -     add input text inside form tag to index #12 #NOW
#16 -     add request.args.get to app.py to *return* form input from user #16
#13 -     test URL_KEY of form by displaying result in a p tag #13
 #7 - add form.action to /greet to index.html #7
 #8 - add flask_route /greet #8
 #9 - add greet.html #9
#10 - add map URL_KEY_NAME of app.py to JINJA_NAME placeholder of greet.html #10