<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles.css">
        <title>🐕 Title of index.html 🐕</title>
    </head>
    <body>
        <form>
            <input type="text" id="input_id" autofocus autocomplete="off" placeholder="Name">
            <input type="submit" value="Submit">
            <p></p>
        </form>

        <script>
            /**
             * @param {SubmitEvent} event
             */
            function do_some_js(event){
                // update p
                let input_element_value = form.querySelector("input").value
                console.log(input_element_value)
                document.querySelector("p").innerHTML = input_element_value;
                event.preventDefault();
            }
            let form = document.querySelector("form")
            form.addEventListener("submit",do_some_js)
        </script>
    </body>
</html>

<!-- 

 #6 - add input text to index.html #6
#DONE: #11 - add input text outside form tag to index #11 
#DONE:  #12 - add input text inside form tag to index #12 
#16 -     add request.args.get to app.py to *return* form input from user #16
#13 -     test URL_KEY of form by displaying result in a p tag #13
    #7 - add form.action to /greet to index.html #7
 #8 - add flask_route /greet #8
 #9 - add greet.html #9
#10 - add map URL_KEY_NAME of app.py to JINJA_NAME placeholder of greet.html #10