<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>⚽Tony's Title⚽</title>
</head>
<body>
    <H1>Register Here Right Now!</H1>
    <form action="/register" method="get">
        <input type="text" name="firstname" id="name_id">
        <select name="sports" id="sport_id">
            <option value="Pick Your Sport 🎾"  disabled selected>Pick Your Sport 🎾</option>
            <option value="Soccer"       >Soccer ⚽</option>
            <option value="Basketball"   >Basketball 🏀</option>
            <option value="Swimming"     >Swimming 🏊‍♀️</option>
            <input type="submit" value="Register">
        </select>
    </form>
</body>
</html>